<div class="product-item">
  <a href="{{ product.url }}">
    <img src="{{ product.featured_image | image_url: width:300 }}" />
    <h3>{{ product.title }}</h3>
  </a>
  <p>{{ product.price | money }}</p>
</div>

 